{% extends "layout.html" %}
{% block content %}
<h1>Comisiones Liquidadas</h1>
<table class="table table-striped sortable" id="sampleTable">
	<tr>
		<th>Cliente</th>
		<th>Nit</th>
		<th>Fecha</th>
		<th>Precio</th>
		<th>Comision</th>
		<th>User</th>
		<th>Fecha de <br>Liquidación</th>
	</tr>
	{% for i in comisiones %}
	<tr>
		<td>{{i[0]}} {{i[1]}}</td>
		<td>{{i[2]}}</td>
		<td>{{i[3]}}</td>
		<td>Q.{{i[4]}}</td>
		<td>Q.{{i[5]}}</td>
		<td>{{i[6]}}</td>
		<td>{{i[7]}}</td>
	</tr>
	{% endfor%}
</table>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='fancyTable.js') }}"></script>
<script>
	$(document).ready(function () {
		$("#sampleTable").fancyTable({
			inputPlaceholder: 'Buscar',
			pagination: false
		});
	});
</script>
{% endblock %}