{% extends "layout.html" %}
{% block content %}
<center>
	<h1>Dar Baja Equipo</h1>
</center>
<hr>
<form action="" method="POST">
	<div class="form-row">
		<div class="col-md-6">
			<label for="razon">Razón</label>
			<input type="text" id="razon" name="razon" class="form-control" placeholder="Razón">
		</div>
		<div class="col-md-6">
			<label for="fecha">Fecha</label>
			<input type="date" id="fecha" name="fecha" class="form-control" placeholder="Fecha">
		</div>
	</div>
	<br>
	<center><input class="btn btn-primary" type="submit" value="Aceptar"></center>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
{% endblock %}