{% extends "layout.html" %}
{% block content %}
<h1>Bienvenido</h1>
<div class="container">
	<ul class="nav">
		<li class="nav-item"><a data-toggle="tab" id="t0" href="#home" class="nav-link" onclick="colorespanel('0')">Estudiante</a></li>
		<li class="nav-item"><a data-toggle="tab" id="t1" href="#menu1" class="nav-link" onclick="colorespanel('1')">Paciente</a></li>
	</ul>
	<hr>
	<form action="" method="POST">
		<div class="tab-content">
			<div id="home" class="tab-pane fade in active" style="padding-left: 5%;">
				<br>
				<h3>Datos de Estudiante</h3>
				<div class="form-row">
					<div class="col-md-12">
						<label for="carnet">Carnet*</label>
						<input type="number" class="form-control" name="carnet" id="carnet" placeholder="Carnet"
							min="1000000" max="99999999" onchange="dataestudiante()" required>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-12">
						<label for="aoellido">Apellido(s)*</label>
						<input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido(s)"
							required>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-12">
						<label for="nombre">Nombre(s)*</label>
						<input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre(s)"
							required>
					</div>
				</div>
			</div>
			<div id="menu1" class="tab-pane fade" style="padding-left: 5%;">
				<br>
				<h3>Datos de Paciente</h3>
				<div class="form-row">
					<div class="col-md-6">
						<label for="cui">DPI*</label>
						<input type="number" id="cui" name="cui" class="form-control" placeholder="DPI"
						min="999999999999" max="9999999999999" required onchange="datapaciente()">
					</div>
					<div class="col-md-6">
						<label for="sexo">Sexo*</label>
						<select name="sexo" id="sexo" class="form-control" required>
							<option value="">Seleccione sexo</option>
							{% for i in sexo %}
							<option value="{{i[0]}}">{{i[1]}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<label for="nombre1">Primer Nombre*</label>
						<input type="text" id="nombre1" name="nombre1" class="form-control" placeholder="Primer Nombre"
						required>
					</div>
					<div class="col-md-6">
						<label for="nombre2">Segundo Nombre</label>
						<input type="text" id="nombre2" name="nombre2" class="form-control" placeholder="Segundo Nombre">
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<label for="apellido1">Primer Apellido*</label>
						<input type="text" id="apellido1" name="apellido1" class="form-control" placeholder="Primer Apellido"
						required>
					</div>
					<div class="col-md-6">
						<label for="apellido2">Segundo Apellido</label>
						<input type="text" id="apellido2" name="apellido2" class="form-control" placeholder="Segundo Apellido">
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<label for="telefono">Teléfono 1*</label>
						<input type="number" id="telefono" name="telefono" class="form-control" placeholder="Teléfono 1">
					</div>
					<div class="col-md-6">
						<label for="telefono1">Teléfono 2*</label>
						<input type="number" id="telefono1" name="telefono1" class="form-control" placeholder="Teléfono 2">
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<label for="profesion">Profesión*</label>
						<input type="text" id="profesion" name="profesion" class="form-control" placeholder="Profesión" required>
					</div>
					<div class="col-md-6">
						<label for="fechanac">Fecha de Nacimiento*</label>
						<input type="date" id="fechanac" name="fechanac" class="form-control" placeholder="Fecha de nacimiento (dd/mm/aaaa)" required>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-12">
						<label for="direccion">Dirección*</label>
						<input type="text" id="direccion" name="direccion" class="form-control" placeholder="Dirección" required>
					</div>
				</div>
				<br>
				<center>
					<input class="btn btn-primary" type="submit" value="Aceptar">
				</center>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	function dataestudiante() {
		var carnet = document.getElementById('carnet').value
		var nombre = document.getElementById('nombre')
		var apellido = document.getElementById('apellido')
		var arreglo = {{ dataest| tojson
	}};
	var conteo = Object.keys(arreglo).length;
	var encontro = 0
	for (var i = 0; i < conteo; i++) {
		if (String(carnet) == arreglo[i][2]) {
			console.log('entro')
			document.getElementById('nombre').value = arreglo[i][0]
			document.getElementById('apellido').value = arreglo[i][1]
			encontro++
		}
	}
	if (encontro == 0) {
		nombre.value = ""
		apellido.value = ""
	}

            }
	function datapaciente() {
		var cui = document.getElementById('cui').value
		var nombre1 = document.getElementById('nombre1')
		var nombre2 = document.getElementById('nombre2')
		var apellido1 = document.getElementById('apellido1')
		var apellido2 = document.getElementById('apellido2')
		var fechanac = document.getElementById('fechanac')
		var profesion = document.getElementById('profesion')
		var direccion = document.getElementById('direccion')
		var telefono = document.getElementById('telefono')
		var telefono1 = document.getElementById('telefono1')
		var sexo = document.getElementById('sexo')
		var arreglo = {{ datapac| tojson
	}};
	var conteo = Object.keys(arreglo).length;
	for (var i = 0; i < conteo; i++) {
		if (String(cui) != '0') {
			if (String(cui) == arreglo[i][8]) {
				nombre1.value = arreglo[i][0]
				nombre2.value = arreglo[i][1]
				apellido1.value = arreglo[i][2]
				apellido2.value = arreglo[i][3]
				fechanac.value = arreglo[i][4]
				profesion.value = arreglo[i][6]
				direccion.value = arreglo[i][7]
				telefono.value = arreglo[i][9]
				telefono1.value = arreglo[i][10]
				sexo.getElementsByTagName('option')[parseInt(arreglo[i][5])].selected = 'selected'
			}
		} else {
			nombre1.value = ""
			nombre2.value = ""
			apellido1.value = ""
			apellido2.value = ""
			fechanac.value = "0000-00-00"
			profesion.value = ""
			direccion.value = ""
			telefono.value = ""
			telefono1.value = ""
			sexo.getElementsByTagName('option')[0].selected = 'selected'
		}
	}
            }
	function colorespanel(codpanel) {
		codpanel = parseInt(codpanel)
		for (var i = 0; i <= 1; i++) {
			if (i == codpanel) {
				var aux = 't' + String(i);
				var t = document.getElementById(aux)
				t.style.backgroundColor = '#5BC0DE'
				t.style.color = 'white'
			} else {
				var aux = 't' + String(i);
				var t = document.getElementById(aux)
				t.style.backgroundColor = 'white'
				t.style.color = 'black'
			}
		}
	}
</script>
{% endblock %}