{% extends "layout.html" %}
{% block content %}
    <h1>Consultas pendientes de Aprobación</h1>
    <table>
        <tr>
            <th style="width: 40%;">Estudiante</th>
            <th style="width: 40%;">Paciente</th>
			<th>Opción</th>
        </tr>
        {% for i in consultas %}
		<tr>
            <td>{{i[1]}} {{i[2]}}</td>
            <td>{{i[3]}} {{i[4]}}</td>
			<td><a href="/pendaprobarc/{{i[0]}}" style="color: black;"><button type="button" style="width: 100%;" class="btn btn-primary">Ingresar datos</button></a></td>
        </tr>
        {% endfor%}
    </table>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
{% endblock %}