{% extends "layout.html" %}
{% block content %}
<a href="/imprimir/{{idfacturaheader}}" target="_blank" style="color: white;"><button type="button" class="btn btn-primary">Imprimir Descripción</button></a>
<a href="/subirdocumentos/{{idfacturaheader}}%260" style="color: white;"><button type="button" class="btn btn-primary">Adjuntar Documentos</button></a>
<br>
<br>
<br>
<div id="tblinfo1" class="tblinfo1">
    <center>
    <h1>Orden de Trabajo</h1>
    <h6><strong>Cliente: </strong> {{dataventa[0][0]}} {{dataventa[0][1]}}</h6>
    <h6><strong>Nit: </strong> {{dataventa[0][2]}}</h6>
    <h6><strong>Código: </strong> {{dataventa[0][23]}}</h6>
    <h6><strong>Fecha: </strong> {{dataventa[0][6]}}</h6>
	

    <table class="table table-stripped">
		<tr>
			<th>Paso Actual</th>
		</tr>
		<tr>
			<th>{{dataventa[0][25]}}</th>
		</tr>
        <tr>
            <th>Aro</th>
        </tr>
        <tr>
            <td>{{dataaro[0]}} - {{dataaro[1]}} {{dataaro[2]}} {{dataaro[3]}}</td>
        </tr>
        </table>
        <table class="table table-stripped">
        <tr>
            <th colspan="2">Lente</th>
        </tr>
        <tr>
            <td style="width: 50%;"> Ojo Izquierdo:<br> {{datalente[0][0]}}</td>
            <td style="width: 50%;"> Ojo Derecho:<br> {{datalente[1][0]}}</td>
        </tr>
        </table>
        <table class="table table-stripped">
        {% if dataventa[0][24] == '1' or dataventa[0][24] == 1 %}
        <tr>
            <th colspan="2">Consulta</th>
        </tr>
        <tr>
            <td>Si Aplica</td>
            <td>Q 50.00</td>
        </tr>
        {% endif %}
        <tr>
            <th colspan="2">Extras</th>
        </tr>
        {% if dataventa[0][12] != '-' %}
        <tr>
            <td style="width: 70%;">Tratamiento Antireflejo Top Vision</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
		{% if dataventa[0][26] != '-' %}
        <tr>
            <td style="width: 70%;">Antireflejo Nanoplasma</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][13] != '-' %}
        <tr>
            <td style="width: 70%;">Montaje</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][14] != '-' %}
        <tr>
            <td style="width: 70%;">Tinte</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][15] != '0' and dataventa[0][15] != 0 %}
        <tr>
            <td style="width: 70%;">Perforado</td>
            <td>{{dataventa[0][15]}}</td>
        </tr>
        {% endif %}
        {% if dataventa[0][16] != '-' %}
        <tr>
            <td style="width: 70%;">Ranurado</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][17] != '-' %}
        <tr>
            <td style="width: 70%;">Facetado</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][18] != '-' %}
        <tr>
            <td style="width: 70%;">Solo un ojo</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][19] != '-' %}
        <tr>
            <td style="width: 70%;">Prismas</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][20] != '-' %}
        <tr>
            <td style="width: 70%;">Dos Caras</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][21] != '-' %}
        <tr>
            <td style="width: 70%;">Moldes</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][22] > 0 %}
        <tr>
            <td style="width: 70%;">Filtro</td>
            <td>Q.{{dataventa[0][22]}}</td>
        </tr>
        {% endif %}
    </table>
    <br>
    <h2>Seguimiento</h2>
    <table class="table table-stripped">
        <tr>
            <th>Fecha</th>
            <th>Comentario</th>
            <th>Usuario</th>
        </tr>
        {% for i in comentarios %}
        <tr>
            <td>{{i[1]}}</td>
            <td>{{i[0]}}</td>
            <td>{{i[2]}} {{i[3]}}</td>
        </tr>
        {% endfor %}
    </table>
	<br>
    <h2>Archivos</h2>
	<table class="table table-stripped">
		<tr>
			<th>Documento</th>
			<th>Archivo</th>
		</tr>
		{% if factura == 1 %}
		<tr>
			<td>Factura</td>
			<td><a href="/verfactura/{{idfacturaheader}}" target="_blank">Ver archivo</a></td>
		</tr>
		{% endif %}
		{% if ordentrabajo == 1 %}
		<tr>
			<td>Orden de Trabajo</td>
			<td><a href="/verorden/{{idfacturaheader}}" target="_blank">Ver archivo</a></td>
		</tr>
		{% endif %}
	</table>
    <br>
    <br>
	<table class="table table-stripped">
		<tr>
			<th colspan="2">Flujorama</th>
		</tr>
		<tr>
			<th>No.</th>
			<th>Paso</th>
		</tr>
		<tr>
			<td>0</td>
			<td>Ingreso de Solicitud</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Pago de Servicio</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Envío a laboratorio</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Lentes en Óptica, listo para entrega</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Entrega a Paciente</td>
		</tr>
	</table>
    {% if terminado[0] == 0 %}
    <div>
        <h2>Nuevo comentario</h2>
        <form action="" method="POST">
            <textarea id="comentario" name="comentario" rows="4" cols="120" required></textarea>
            <br>
            <br>
			{% if permitido %}
            <button onclick="submit" class="btn btn-primary" name="accion" value="1">Siguiente Paso</button>
            <button onclick="submit" class="btn btn-danger" name="accion" value="2">Paso Anterior</button>
			{% if dataventa[0][25] == 3 or dataventa[0][25] == '3'  %}
			<button onclick="submit" class="btn btn-success" name="accion" value="3">Finalizar</button>
			{% endif %}
			{% else %}
			<h5 style="color: red;">Su usuario no está autorizado a realizar la siguiente accion</h5>
			{% endif %}
        </form>
    </div>
    {% endif %}
    
</center>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
{% endblock %}