{% extends "layout.html" %}
{% block content %}
<button type="button" class="button"><a href="/imprimir/{{idfacturaheader}}" target="_blank" style="color: white;">Imprimir Descripción</a></button>
<br>
<br>
<br>
<div id="tblinfo1" class="tblinfo1">
    <center>
    <h1>Orden de Trabajo</h1>
    <h6><strong>Cliente: </strong> {{dataventa[0][0]}} {{dataventa[0][1]}}</h6>
    <h6><strong>Nit: </strong> {{dataventa[0][2]}}</h6>
    <h6><strong>Código: </strong> {{dataventa[0][23]}}</h6>
    <h6><strong>Fecha: </strong> {{dataventa[0][6]}}</h6>
	

    <table style="width: 100%;">
        <tr>
            <th colspan="2">Aro</th>
        </tr>
        <tr>
            <td style="width: 70%;">{{dataaro[0]}} - {{dataaro[1]}} {{dataaro[2]}} {{dataaro[3]}}</td>
        </tr>
        </table>
        <table style="width: 100%;">
        <tr>
            <th colspan="2">Lente</th>
        </tr>
        <tr>
            <td style="width: 50%;"> Ojo Izquierdo:<br> {{datalente[0][0]}}</td>
            <td style="width: 50%;"> Ojo Derecho:<br> {{datalente[1][0]}}</td>
        </tr>
        </table>
        <table style="width: 100%;">
        {% if dataventa[0][24] == '1' or dataventa[0][24] == 1 %}
        <tr>
            <th colspan="2">Consulta</th>
        </tr>
        <tr>
            <td>Si Aplica</td>
            <td>Q 50.00</td>
        </tr>
        {% endif %}
        <tr>
            <th colspan="2">Extras</th>
        </tr>
        {% if dataventa[0][12] != '-' %}
        <tr>
            <td style="width: 70%;">Tratamiento Antireflejo Top Vision</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][13] != '-' %}
        <tr>
            <td style="width: 70%;">Montaje</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][14] != '-' %}
        <tr>
            <td style="width: 70%;">Tinte</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][15] != '0' and dataventa[0][15] != 0 %}
        <tr>
            <td style="width: 70%;">Perforado</td>
            <td>{{dataventa[0][15]}}</td>
        </tr>
        {% endif %}
        {% if dataventa[0][16] != '-' %}
        <tr>
            <td style="width: 70%;">Ranurado</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][17] != '-' %}
        <tr>
            <td style="width: 70%;">Facetado</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][18] != '-' %}
        <tr>
            <td style="width: 70%;">Solo un ojo</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][19] != '-' %}
        <tr>
            <td style="width: 70%;">Prismas</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][20] != '-' %}
        <tr>
            <td style="width: 70%;">Dos Caras</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][21] != '-' %}
        <tr>
            <td style="width: 70%;">Moldes</td>
            <td>Aplica</td>
        </tr>
        {% endif %}
        {% if dataventa[0][22] > 0 %}
        <tr>
            <td style="width: 70%;">Filtro</td>
            <td>Q.{{dataventa[0][22]}}</td>
        </tr>
        {% endif %}
    </table>
    <br>
    <h2>Seguimiento</h2>
    <table style="width: 100%;">
        <tr>
            <th>Fecha</th>
            <th>Comentario</th>
            <th>Usuario</th>
        </tr>
        {% for i in comentarios %}
        <tr>
            <td>{{i[1]}}</td>
            <td>{{i[0]}}</td>
            <td>{{i[2]}} {{i[3]}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    {% if terminado[0] == 0 %}
    <div>
        <h2>Nuevo comentario</h2>
        <form action="" method="POST">
            <textarea id="comentario" name="comentario" rows="4" cols="120"></textarea>
            <br>
            <br>
            <button onclick="submit" class="button" name="accion" value="ace">Aceptar</button>  <button onclick="submit" class="button" name="accion" value="fin">Finalizar</button>
        </form>
    </div>
    {% endif %}
    
</center>
</div>
{% endblock %}