{% extends "layout.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
<h1>Datos Ingresados</h1>
<h2 style="text-align: right;">ID de Consulta: {{idconsulta}}</h2>
<h4 style="text-align: right;">Tiempo de Consulta: {{tiempoconsulta}} minutos.<br>Tiempo de Aprobación: {{tiempoaprobacion}} minutos.</h4>
<div class="container">
	<ul class="nav nav-tabs">
		<li class="nav-item"><a data-toggle="tab" id="t0" href="#menu0" class="nav-link">Estudiante</a></li>
		<li class="nav-item"><a data-toggle="tab" id="t1" href="#menu1" class="nav-link">Paciente</a></li>
		<li class="nav-item"><a data-toggle="tab" id="t2" href="#menu2" class="nav-link">Exploración Y
				D.X./T.X.</a></li>
	</ul>
	<form action="" method="POST">

		<div class="tab-content">
			<div id="menu0" class="tab-pane fade in active" style="padding-left: 5%;">
				<br>
				<h3>Datos de Estudiante</h3>
				<div class="form-row">
					<div class="col-md-12">
						<label for="carnet">Carnet*</label>
						<input type="number" class="form-control" name="carnet" id="carnet" placeholder="Carnet"
							min="1000000" max="99999999" value="{{estudiante[2]}}" disabled>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-12">
						<label for="aoellido">Apellido(s)*</label>
						<input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido(s)"
							value="{{estudiante[1]}}" disabled>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-12">
						<label for="nombre">Nombre(s)*</label>
						<input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre(s)"
							value="{{estudiante[0]}}" disabled>
					</div>
				</div>
			</div>
			<div id="menu1" class="tab-pane fade" style="padding-left: 5%;">
				<br>
				<h3>Datos de Paciente</h3>
				<div class="form-row">
					<div class="col-md-6">
						<label for="cui">DPI*</label>
						<input type="number" id="cui" name="cui" class="form-control" placeholder="DPI"
							min="999999999999" max="9999999999999" disabled value="{{paciente[8]}}">
					</div>
					<div class="col-md-6">
						<label for="sexo">Sexo*</label>
						<input type="text" id="sexo" name="sexo" class="form-control" disabled value="{{paciente[5]}}">
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<label for="nombre1">Primer Nombre*</label>
						<input type="text" id="nombre1" name="nombre1" class="form-control" placeholder="Primer Nombre"
							disabled value="{{paciente[0]}}">
					</div>
					<div class="col-md-6">
						<label for="nombre2">Segundo Nombre</label>
						<input type="text" id="nombre2" name="nombre2" class="form-control" placeholder="Segundo Nombre"
							disabled value="{{paciente[1]}}">
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<label for="apellido1">Primer Apellido*</label>
						<input type="text" id="apellido1" name="apellido1" class="form-control"
							placeholder="Primer Apellido" disabled value="{{paciente[2]}}">
					</div>
					<div class="col-md-6">
						<label for="apellido2">Segundo Apellido</label>
						<input type="text" id="apellido2" name="apellido2" class="form-control"
							placeholder="Segundo Apellido" disabled value="{{paciente[3]}}">
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<label for="telefono">Teléfono 1*</label>
						<input type="number" id="telefono" name="telefono" class="form-control" placeholder="Teléfono 1"
							disabled value="{{paciente[9]}}">
					</div>
					<div class="col-md-6">
						<label for="telefono1">Teléfono 2*</label>
						<input type="number" id="telefono1" name="telefono1" class="form-control"
							placeholder="Teléfono 2" disabled value="{{paciente[10]}}">
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-6">
						<label for="profesion">Profesión*</label>
						<input type="text" id="profesion" name="profesion" class="form-control" placeholder="Profesión"
							disabled value="{{paciente[6]}}">
					</div>
					<div class="col-md-6">
						<label for="fechanac">Fecha de Nacimiento*</label>
						<input type="date" id="fechanac" name="fechanac" class="form-control"
							placeholder="Fecha de nacimiento (dd/mm/aaaa)" disabled value="{{paciente[4]}}">
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-12">
						<label for="direccion">Dirección*</label>
						<input type="text" id="direccion" name="direccion" class="form-control" placeholder="Dirección"
							disabled value="{{paciente[7]}}">
					</div>
				</div>
				<br>
				<h3>Motivo de Consulta</h3>
				<table>
					<tr>
						<th style="width: 35%;">Motivo de la Consulta</th>
						<th colspan="3"><textarea id="motivoconsulta" name="motivoconsulta" rows="2" cols="80" class="form-control"
								placeholder="Motivo de la Consulta" disabled>{{dataconsulta[0][31]}}</textarea></th>
					</tr>
				</table>
				<br>
				<h3>Antecedentes</h3>
				<table>
					<tr>
						<th><label for="ultimaevmes">Última evaluación</label></th>
						<td>
							<div class="form-row">
								<div class="col-md-6">
									<select class="form-control" id="ultimaevmes" name="ultimaevmes" tabindex="15" disabled>
										<option value="">Seleccione mes</option>
										<option value="0">No aplica</option>
										{% for i in meses %}
										{% if dataconsulta[0][10] == i[0] %}
										<option value="{{i[0]}}" selected>{{i[1]}}</option>
										{% else %}
										<option value="{{i[0]}}">{{i[1]}}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
								<div class="col-md-6">
									<select class="form-control" id="ultimaevanio" name="ultimaevanio" tabindex="16" disabled>
										<option value="">Seleccione año</option>
										<option value="0">No aplica</option>
										{% for i in anios %}
										{% if dataconsulta[0][11] == i %}
										<option value="{{i}}" selected>{{i}}</option>
										{% else %}
										<option value="{{i}}">{{i}}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><label for="tiempolentes">Tiempo utilizando lentes</label></th>
						<td><select class="form-control" id="tiempolentes" name="tiempolentes" tabindex="17" disabled>
								<option value="">Seleccione años</option>
								{% for i in cincos %}
								{% if dataconsulta[0][12] == i %}
								<option value="{{i}}" selected>{{i}}</option>
								{% else %}
								<option value="{{i}}">{{i}}</option>
								{% endif %}
								{% endfor %}
							</select></td>
					</tr>
				</table><br>
				<table>
					<tr>
						<th style="width: 35%;">Antecedentes Oftalmológicos</th>
						<th colspan="3"><textarea id="antoftal" name="antoftal" rows="2" cols="80" class="form-control"
								placeholder="   Antecedentes Oftalmológicos" disabled>{{antecedentes[0]}}</textarea>
						</th>
					</tr>
				</table>
				<table id="antecedentesmedicos">
					{% for i in range(numantmed) %}
					{% if i == 0 %}
					<tr>
						<th style="width: 35%;">Antecedentes Médicos <input type="hidden" id="numantmed"
								name="numantmed" value="{{numantmed}}" style="width: 15%;" readonly> </th>
						{% else %}
					<tr>
						<th></th>
						{% endif %}
						<td><select class="form-control" id="enfermedad{{i + 1}}" name="enfermedad{{i + 1}}" disabled>
								<option value="">Seleccione Enfermedad</option>
								{% for j in enfermedades %}
								{% if antmed[i][0] == j[0] %}
								<option value="{{j[0]}}" selected>{{j[0]}}</option>
								{% else %}
								<option value="{{j[0]}}">{{j[0]}}</option>
								{% endif %}
								{% endfor %}
							</select></td>
						<td><input type="text" class="form-control" id="tiempoevolucionm{{i + 1}}"
								name="tiempoevolucionm{{i + 1}}" placeholder="Tiempo de Evolución"
								value="{{antmed[i][1]}}" disabled></td>
						<td><input type="text" class="form-control" id="controlm{{i + 1}}" name="controlm{{i + 1}}"
								placeholder="Control (Medicamento)" value="{{antmed[i][2]}}" disabled></td>
					</tr>
					{% endfor %}
				</table>
				<table id="antecedentesquirurgicos">
					{% for i in range(numantqui) %}
					{% if i == 0 %}
					<tr>
						<th style="width: 35%;">Antecedentes Quirúrgicos <input type="hidden" id="numantqui"
								name="numantqui" value="{{numantqui}}" style="width: 15%;" readonly> </th>
						{% else %}
					<tr>
						<th></th>
						{% endif %}
						<td><input type="text" class="form-control" id="cirugia{{i + 1}}" name="cirugia{{i + 1}}"
								placeholder="Cirugía" value="{{antqui[i][0]}}" disabled></td>
						<td><input type="text" class="form-control" id="tiempoevolucionq{{i + 1}}"
								name="tiempoevolucionq{{i + 1}}" placeholder="Tiempo de Evolución"
								value="{{antqui[i][1]}}" disabled></td>
						<td><input type="text" class="form-control" id="controlq{{i + 1}}" name="controlq{{i + 1}}"
								placeholder="Control (Medicamento)" value="{{antqui[i][2]}}" disabled></td>
					</tr>
					{% endfor %}
				</table>
				<table>
					<tr>
						<th style="width: 35%;">Antecedentes Alérgicos</th>
						<th colspan="3"><textarea id="antaler" name="antaler" rows="2" cols="80" class="form-control"
								placeholder="   Antecedentes Alérgicos" disabled>{{antecedentes[3]}}</textarea></th>
					</tr>
					<tr>
						<th style="width: 35%;">Antecedentes Familiares</th>
						<th colspan="3"><textarea id="antfam" name="antfam" rows="2" cols="80" class="form-control"
								placeholder="   Antecedentes Familiares" disabled>{{antecedentes[1]}}</textarea></th>
					</tr>
					<tr>
						<th style="width: 35%;">Antecedentes Glaucoma</th>
						<th colspan="3"><textarea id="antgla" name="antgla" rows="2" cols="80" class="form-control"
								placeholder="   Antecedentes Glaucoma" disabled>{{antecedentes[2]}}</textarea></th>
					</tr>
				</table>
			</div>
			<div id="menu2" class="tab-pane fade" style="padding-left: 5%;">
				<br>
				<h3>Agudeza Visual</h3>
				<table>
					<thead>
						<tr>
							<th>A.V.S.C.</th>
							<th>Agudeza Visual Lejana</th>
							<th>Agujero Estenopeico</th>
							<th>Agudeza Visual Cercana</th>
						</tr>
					</thead>
					<tr>
						<th>Ojo Derecho</th>
						<td>{{av[0][0]}}</td>
						<td>{{av[0][1]}}</td>
						<td>{{av[0][2]}}</td>
					</tr>
					<tr>
						<th>Ojo Izquierdo</th>
						<td>{{av[1][0]}}</td>
						<td>{{av[1][1]}}</td>
						<td>{{av[1][2]}}</td>
					</tr>
				</table>
				<br>
				<h3>Refracción actual</h3>
				<table>
					<thead>
						<tr>
							<th>C.A.</th>
							<th>Esfera</th>
							<th>Cilindro</th>
							<th>Eje</th>
							<th>Prisma</th>
							<th>A.V.C.C</th>
						</tr>
					</thead>
					<tr>
						<th>Ojo Derecho</th>
						<td>{{ra[0][0]}}</td>
						<td>{{ra[0][1]}}</td>
						<td>{{ra[0][2]}}</td>
						<td>{{ra[0][3]}}</td>
						<td>{{ra[0][4]}}</td>
					</tr>
					<tr>
						<th>Ojo Izquierdo</th>
						<td>{{ra[1][0]}}</td>
						<td>{{ra[1][1]}}</td>
						<td>{{ra[1][2]}}</td>
						<td>{{ra[1][3]}}</td>
						<td>{{ra[1][4]}}</td>
					</tr>
					<tr>
						<th>DNP</th>
						<td>{{dataconsulta[0][7]}}</td>
						<th>A.D.D.</th>
						<td>{{dataconsulta[0][13]}}</td>
						<td>{{dataconsulta[0][14]}}</td>
						<td>{{dataconsulta[0][15]}}</td>
					</tr>
					</thead>
				</table><br><br>
				<h3>Visión Cercana</h3>
				<table>
					<thead>
						<tr>
							<th></th>
							<th>Esfera</th>
							<th>Cilindro</th>
							<th>Eje</th>
							<th>Prisma</th>
							<th>A.V.C.C</th>
						</tr>
					</thead>
					<tr>
						<th>Ojo Derecho</th>
						<td>{{vc[0][0]}}</td>
						<td>{{vc[0][1]}}</td>
						<td>{{vc[0][2]}}</td>
						<td>{{vc[0][3]}}</td>
						<td>{{vc[0][4]}}</td>
					</tr>
					<tr>
						<th>Ojo Izquierdo</th>
						<td>{{vc[1][0]}}</td>
						<td>{{vc[1][1]}}</td>
						<td>{{vc[1][2]}}</td>
						<td>{{vc[1][3]}}</td>
						<td>{{vc[1][4]}}</td>

					</tr>
				</table>
				<br>
				<h3>Refracción Objetiva</h3>
				<table>
					<thead>
						<tr>
							<th>C.A.</th>
							<th>Esfera</th>
							<th>Cilindro</th>
							<th>Eje</th>
							<th>Prisma</th>
							<th>DVertice</th>
							<th>A.V.C.C</th>
						</tr>
					</thead>
					<tr>
						<th>Ojo Derecho</th>
						<td>{{roa[0][0]}}</td>
						<td>{{roa[0][1]}}</td>
						<td>{{roa[0][2]}}</td>
						<td>{{roa[0][3]}}</td>
						<td>{{roa[0][4]}}</td>
						<td>{{roa[0][5]}}</td>
					</tr>
					<tr>
						<th>Ojo Izquierdo</th>
						<td>{{roa[1][0]}}</td>
						<td>{{roa[1][1]}}</td>
						<td>{{roa[1][2]}}</td>
						<td>{{roa[1][3]}}</td>
						<td>{{roa[1][4]}}</td>
						<td>{{roa[1][5]}}</td>
					</tr>
				</table><br>
				<br>
				<h3>Refracción Subjetiva</h3>
				<table>
					<thead>
						<tr>
							<th>C.A.</th>
							<th>Esfera</th>
							<th>Cilindro</th>
							<th>Eje</th>
							<th>Prisma</th>
							<th>A.V.C.C</th>
						</tr>
					</thead>
					<tr>
						<th>Ojo Derecho</th>
						<td>{{rs[0][0]}}</td>
						<td>{{rs[0][1]}}</td>
						<td>{{rs[0][2]}}</td>
						<td>{{rs[0][3]}}</td>
						<td>{{rs[0][4]}}</td>
					</tr>
					<tr>
						<th>Ojo Izquierdo</th>
						<td>{{rs[1][0]}}</td>
						<td>{{rs[1][1]}}</td>
						<td>{{rs[1][2]}}</td>
						<td>{{rs[1][3]}}</td>
						<td>{{rs[1][4]}}</td>
					</tr>
				</table>
				<br>
				{% if rs[0][5] == 0 %}
				<label><input type="checkbox" id="pruamb" name="pruamb" value="1" disabled><strong> Prueba
						Ambulatoria</strong></label><br>
				{% else %}
				<label><input type="checkbox" id="pruamb" name="pruamb" value="1" checked disabled><strong> Prueba
						Ambulatoria</strong></label><br>
				{% endif %}
				{% if rs[0][6] == 0 %}
				<label><input type="checkbox" id="testbi" name="testbi" value="1" disabled><strong> Test
						Bicromatico</strong></label><br>
				{% else %}
				<label><input type="checkbox" id="testbi" name="testbi" value="1" checked disabled><strong> Test
						Bicromatico</strong></label><br>
				{% endif %}
				{% if rs[0][7] == 0 %}
				<label><input type="checkbox" id="equibino" name="equibino" value="1" disabled><strong> Equilibrio
						Binocular</strong></label><br>
				{% else %}
				<label><input type="checkbox" id="equibino" name="equibino" value="1" checked disabled><strong>
						Equilibrio Binocular</strong></label><br>
				{% endif %}
				{% if rs[0][8] == 0 %}
				<label><input type="checkbox" id="pruest" name="pruest" value="1" disabled><strong> Prueba de
						Estereopsis</strong></label><br>
				{% else %}
				<label><input type="checkbox" id="pruest" name="pruest" value="1" checked disabled><strong> Prueba de
						Estereopsis</strong></label><br>
				{% endif %}
				{% if rs[0][9] == 0 %}
				<label><input type="checkbox" id="ciljackson" name="ciljackson" value="1" disabled><strong> Cilindro
						Cruzado de Jackson</strong></label><br>
				{% else %}
				<label><input type="checkbox" id="ciljackson" name="ciljackson" value="1" checked disabled><strong>
						Cilindro Cruzado de Jackson</strong></label><br>
				{% endif %}
				<br>
				<h3>Refracción Final</h3>
				<table>
					<thead>
						<tr>
							<th>C.A.</th>
							<th>Esfera</th>
							<th>Cilindro</th>
							<th>Eje</th>
							<th>Prisma</th>
							<th>A.V.C.C</th>
						</tr>
					</thead>
					<tr>
						<th>Ojo Derecho</th>
						<td>{{rf[0][0]}}</td>
						<td>{{rf[0][3]}}</td>
						<td>{{rf[0][6]}}</td>
						<td>{{rf[0][9]}}</td>
						<td>{{rf[0][12]}}</td>
					</tr>
					<tr>
						<th>Ojo Izquierdo</th>
						<td>{{rf[1][0]}}</td>
						<td>{{rf[1][3]}}</td>
						<td>{{rf[1][6]}}</td>
						<td>{{rf[1][9]}}</td>
						<td>{{rf[1][12]}}</td>
					</tr>
					<tr>
						<th>DNP</th>
						<td>{{dataconsulta[0][6]}}</td>
						<th>A.D.D.</th>
						<td>{{dataconsulta[0][16]}}</td>
						<td>{{dataconsulta[0][17]}}</td>
						<td>{{dataconsulta[0][18]}}</td>
					</tr>
					</thead>
				</table><br><br>

				<div id="distanciacercana">
					<h3>Fórmula para Distancia Cercana</h3>
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Esfera</th>
								<th>Cilindro</th>
								<th>Eje</th>
								<th>Prisma</th>
								<th>A.V.C.C</th>
							</tr>
						</thead>
						<tr>
							<th>Ojo Derecho</th>
							<td>{{rf[0][1]}}</td>
							<td>{{rf[0][4]}}</td>
							<td>{{rf[0][7]}}</td>
							<td>{{rf[0][10]}}</td>
							<td>{{rf[0][13]}}</td>
						</tr>
						<tr>
							<th>Ojo Izquierdo</th>
							<td>{{rf[1][1]}}</td>
							<td>{{rf[1][4]}}</td>
							<td>{{rf[1][7]}}</td>
							<td>{{rf[1][10]}}</td>
							<td>{{rf[1][13]}}</td>
						</tr>
						<tr>
							<th>DNP</th>
							<td>{{dataconsulta[0][8]}}</td>
						</tr>
					</table>
					<br><br>
				</div>
				<div id="distanciamedia">
					<h3>Fórmula para Distancia Media</h3>
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Esfera</th>
								<th>Cilindro</th>
								<th>Eje</th>
								<th>Prisma</th>
								<th>A.V.C.C</th>
							</tr>
						</thead>
						<tr>
							<th>Ojo Derecho</th>
							<td>{{rf[0][2]}}</td>
							<td>{{rf[0][5]}}</td>
							<td>{{rf[0][8]}}</td>
							<td>{{rf[0][11]}}</td>
							<td>{{rf[0][14]}}</td>
						</tr>
						<tr>
							<th>Ojo Izquierdo</th>
							<td>{{rf[1][2]}}</td>
							<td>{{rf[1][5]}}</td>
							<td>{{rf[1][8]}}</td>
							<td>{{rf[1][11]}}</td>
							<td>{{rf[1][14]}}</td>
						</tr>
						<tr>
							<th>DNP</th>
							<td>{{dataconsulta[0][9]}}</td>
						</tr>
					</table>
					<br>
					<h3>Final</h3>
					<table>
						<tr class="fondoblanco">
							<th><label for="proxcita">Próxima Cita:</label></th>
							<td colspan="5"><input type="date" class="form-control" id="proxicita" name="proxicita"
									value="{{dataconsulta[0][5]}}" disabled></td>
						</tr>
						<tr class="fondoblanco">
							<th><label for="usolent">Uso Lentes:</label></th>
							<td colspan="5"><select name="usolent" id="usolent" class="form-control" disabled>
									<option value="">Seleccione uso</option>
									{% for i in usolen %}
									{% if dataconsulta[0][4] == i[0] %}
									<option value="{{i[0]}}" selected>{{i[1]}}</option>
									{% else %}
									<option value="{{i[0]}}">{{i[1]}}</option>
									{% endif %}
									{% endfor %}
								</select></td>
						</tr>
						<tr class="fondoblanco">
							<th><label for="lenrecom">Lente Recomendado:</label></th>
							<td><select name="tipolent" id="tipolent" class="form-control" disabled>
									<option value="">Seleccione tipo</option>
									{% for i in tipolen %}
									{% if i[0] == lenterecomendado[0][0] %}
									<option value="{{i[0]}}" selected>{{i[1]}}</option>
									{% else %}
									<option value="{{i[0]}}">{{i[1]}}</option>
									{% endif %}
									{% endfor %}
								</select></td>
							<td><select name="lentedetalladolent" id="lentedetalladolent" class="form-control" disabled>
									<option value="">Seleccione Lente detallado</option>
									{% for i in lentedetalladolen %}
									{% if i[0] == lenterecomendado[0][4] %}
									<option value="{{i[0]}}" selected>{{i[1]}}</option>
									{% else %}
									<option value="{{i[0]}}">{{i[1]}}</option>
									{% endif %}
									{% endfor %}
								</select></td>

							<td><select name="materiallent" id="materiallent" class="form-control" disabled>
									<option value="">Seleccione material</option>
									{% for i in materiallen %}
									{% if i[0] == lenterecomendado[0][1] %}
									<option value="{{i[0]}}" selected>{{i[1]}}</option>
									{% else %}
									<option value="{{i[0]}}">{{i[1]}}</option>
									{% endif %}
									{% endfor %}
								</select></td>
							<td><select name="filtrolent" id="filtrolent" class="form-control" disabled>
									<option value="">Seleccione filtro</option>
									{% for i in filtrolen %}
									{% if i[0] == lenterecomendado[0][2] %}
									<option value="{{i[0]}}" selected>{{i[1]}}</option>
									{% else %}
									<option value="{{i[0]}}">{{i[1]}}</option>
									{% endif %}
									{% endfor %}
								</select></td>
							<td><select name="colorlent" id="colorlent" class="form-control" disabled>
									<option value="">Seleccione color</option>
									{% for i in colorlen %}
									{% if i[0] == lenterecomendado[0][3] %}
									<option value="{{i[0]}}" selected>{{i[1]}}</option>
									{% else %}
									<option value="{{i[0]}}">{{i[1]}}</option>
									{% endif %}
									{% endfor %}
								</select></td>
						</tr>
					</table>
				</div>
				<br>
				<center>
					<h3>Motilidad Ocular</h3>
				</center>
				<table>
					<thead>
						<tr>
							<th>M.E.O.</th>
							<th>Movilidad Muscular Fija</th>
							<th>Forias</th>
							<th>Tropias</th>
							<th>Ducciones</th>
							<th>Versiones</th>
							<th>Convergencia</th>
						</tr>
					</thead>
					<tr>
						<th>Ojo Derecho</th>
						<td>{{mo[0][0]}}</td>
						<td>{{mo[0][1]}}</td>
						<td>{{mo[0][2]}}</td>
						<td>{{mo[0][3]}}</td>
						<td rowspan="2">{{mo[0][4]}}</td>
						<td rowspan="2">{{mo[0][5]}}</td>
					</tr>
					<tr>
						<th>Ojo Izquierdo</th>
						<td>{{mo[1][0]}}</td>
						<td>{{mo[1][1]}}</td>
						<td>{{mo[1][2]}}</td>
						<td>{{mo[1][3]}}</td>
					</tr>
				</table>
				<br>
				{% if mo[0][6] == 0 %}
				<label><input type="checkbox" id="ortofotico" name="ortoforico" value="1" disabled><strong>
						Ortofórico</strong></label><br>
				{% else %}
				<label><input type="checkbox" id="ortofotico" name="ortoforico" value="1" checked disabled><strong>
						Ortofórico</strong></label><br>
				{% endif %}
				<br>
				<h3>Salud Ocular</h3>
				{% if obs[0][0] == 0 %}
				<label><input type="checkbox" id="ojsal" name="ojsal" value="1" disabled><strong> Ambos ojos saludables
						- Valores normales</strong></label><br>
				{% else %}
				<label><input type="checkbox" id="ojsal" name="ojsal" value="1" checked disabled><strong> Ambos ojos
						saludables - Valores normales</strong></label><br>
				{% endif %}
				<table>
					<thead>
						<tr>
							<th>Observaciones</th>
							<th>Ojo Derecho</th>
							<th>Ojo Izquierdo</th>
						</tr>
					</thead>
					<tr>
						<th>Órbita</th>
						<td>{{obs[0][1]}}</td>
						<td>{{obs[1][1]}}</td>
					</tr>
					<tr>
						<th>Cejas</th>
						<td>{{obs[0][2]}}</td>
						<td>{{obs[1][2]}}</td>
					</tr>
					<tr>
						<th rowspan="2">Lágrima</th>
						<td>{{obs[0][3]}}</td>
						<td>{{obs[1][3]}}</td>
					</tr>
					<tr>
						<td>
							<div class="form-row">
								<div class="col-md-6">
									<select class="form-control" id="schod" name="schod" disabled>
										<option value="">Prueba de Schirmer</option>
										{% for i in mms %}
										{% if i == obs[0][18] %}
										<option value="{{i}}" selected>{{i}} mm</option>
										{% else %}
										<option value="{{i}}">{{i}} mm</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
								<div class="col-md-6">
									<select class="form-control" id="butod" name="butod" disabled>
										<option value="">Prueba de But</option>
										{% for i in numeros %}
										{% if i == obs[0][19] %}
										<option value="{{i}}" selected>{{i}} seg</option>
										{% else %}
										<option value="{{i}}">{{i}} seg</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
						</td>
						<td>
							<div class="form-row">
								<div class="col-md-6">
									<select class="form-control" id="schoi" name="schoi" disabled>
										<option value="">Prueba de Schirmer</option>
										{% for i in mms %}
										{% if i == obs[1][18] %}
										<option value="{{i}}" selected>{{i}} mm</option>
										{% else %}
										<option value="{{i}}">{{i}} mm</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
								<div class="col-md-6">
									<select class="form-control" id="butoi" name="butoi" disabled>
										<option value="">Prueba de But</option>
										{% for i in numeros %}
										{% if i == obs[1][19] %}
										<option value="{{i}}" selected>{{i}} seg</option>
										{% else %}
										<option value="{{i}}">{{i}} seg</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>Vias Lagrimales</th>
						<td>{{obs[0][4]}}</td>
						<td>{{obs[1][4]}}</td>
					</tr>
					<tr>
						<th>Parpados y pestañas</th>
						<td>{{obs[0][5]}}</td>
						<td>{{obs[1][5]}}</td>
					</tr>
					<tr>
						<th>Conjuntiva</th>
						<td>{{obs[0][6]}}</td>
						<td>{{obs[1][6]}}</td>
					</tr>
					<tr>
						<th>Esclera</th>
						<td>{{obs[0][7]}}</td>
						<td>{{obs[1][7]}}</td>
					</tr>
					<tr>
						<th>Córnea</th>
						<td>{{obs[0][8]}}</td>
						<td>{{obs[1][8]}}</td>
					</tr>
					<tr>
						<th>Cámara Anterior</th>
						<td>{{obs[0][9]}}</td>
						<td>{{obs[1][9]}}</td>
					</tr>
					<tr>
						<th>Iris</th>
						<td>{{obs[0][10]}}</td>
						<td>{{obs[1][10]}}</td>
					</tr>
					<tr>
						<th>Pupila</th>
						<td>{{obs[0][11]}}</td>
						<td>{{obs[1][11]}}</td>
					</tr>
					<tr>
						<th>Cristalino</th>
						<td>{{obs[0][12]}}</td>
						<td>{{obs[1][12]}}</td>
					</tr>
					<tr>
						<th>Vítreo</th>
						<td>{{obs[0][13]}}</td>
						<td>{{obs[1][13]}}</td>
					</tr>
					<tr>
						<th>Nervio Óptico/Papila</th>
						<td><select class="form-control" id="nervood" name="nervood" disabled>
								<option value="">Nervio Óptico</option>
								{% for i in nervos %}
								{% if (i | int) == (obs[0][14] | int) %}
								<option value="{{i/10}}" selected>{{i/10}}</option>
								{% else %}
								<option value="{{i/10}}">{{i/10}}</option>
								{% endif %}
								{% endfor %}
							</select></td>
						<td><select class="form-control" id="nervooi" name="nervooi" disabled>
								<option value="">Nervio Óptico</option>
								{% for i in nervos %}
								{% if (i | int) == (obs[1][14] | int) %}
								<option value="{{i}}" selected>{{i/10}}</option>
								{% else %}
								<option value="{{i}}">{{i/10}}</option>
								{% endif %}
								{% endfor %}
							</select></td>
					</tr>
					<tr>
						<th>Relación Vena/Arteria</th>
						<td><select class="form-control" id="retppod" name="retppod" disabled>
								<option value="">Relación V/A</option>
								{% for i in relva %}
								{% if (i[0] | int) == (obs[0][15] | int) %}
								<option value="{{i[0]}}" selected>{{i[1]}}</option>
								{% else %}
								<option value="{{i[0]}}">{{i[1]}}</option>
								{% endif %}
								{% endfor %}
							</select></td>
						<td><select class="form-control" id="retppoi" name="retppoi" disabled>
								<option value="">Relación V/A</option>
								{% for i in relva %}
								{% if (i[0] | int) == (obs[1][15] | int) %}
								<option value="{{i[0]}}" selected>{{i[1]}}</option>
								{% else %}
								<option value="{{i[0]}}">{{i[1]}}</option>
								{% endif %}
								{% endfor %}
							</select></td>
					</tr>
					<tr>
						<th>Retina Macular</th>
						<td>{{obs[0][17]}}</td>
						<td>{{obs[1][17]}}</td>
					</tr>
					<tr>
						<th>Retina Periférica</th>
						<td>{{obs[0][16]}}</td>
						<td>{{obs[1][16]}}</td>
					</tr>
				</table>
				<br>
				<h1>Diagnóstico y Tratamiento</h1>
				<table>
					<tr class="fondoblanco">
						<th rowspan="3"><label for="diagnostico">Diagnóstico:</label></th>
						<td colspan="2">
							<select name="ambliopia" id="ambliopia" class="form-control" disabled>
								<option value="">Ambliopía</option>
								<option value="0" selected>Ninguno</option>
								{% for i in dataojo %}
								{% if i[0] == dataconsulta[0][2] %}
								<option value="{{i[0]}}" selected>{{i[1]}}</option>
								{% else %}
								<option value="{{i[0]}}">{{i[1]}}</option>
								{% endif %}
								{% endfor %}
							</select>
							<input type="text" name="ambliopiaoi" id="ambliopiaoi" class="form-control"
								placeholder="   Ambliopía OI" value="{{dataconsulta[0][28]}}" disabled>
							<input type="text" name="ambliopiaod" id="ambliopiaod" class="form-control"
								placeholder="   Ambliopía OD" value="{{dataconsulta[0][29]}}" disabled>
						</td>
						<td colspan="3">
							<select name="ametropia" id="ametropia" class="form-control" disabled>
								<option value="">Ametropía</option>
								<option value="0" selected>Ninguno</option>
								{% for i in dataametropia %}
								{% if i[0] == dataconsulta[0][3] %}
								<option value="{{i[0]}}" selected>{{i[1]}}</option>
								{% else %}
								<option value="{{i[0]}}">{{i[1]}}</option>
								{% endif %}
								{% endfor %}
							</select>
							<select name="ametropiaoi" id="ametropiaoi" class="form-control" disabled>
								<option value="">----Ametropía OI----</option>
								<option value="0" selected>Ninguno</option>
								{% for i in dataametropia %}
								{% if i[0] == dataconsulta[0][30] %}
								<option value="{{i[0]}}" selected>{{i[1]}}</option>
								{% else %}
								<option value="{{i[0]}}">{{i[1]}}</option>
								{% endif %}
								{% endfor %}
							</select>
						</td>
					</tr>
					<tr class="fondoblanco">
						<td colspan="2">
							{% if dataconsulta[0][19] == 0 %}
							<label><input type="checkbox" id="emetropia" name="emetropia" value="1" disabled><strong>
									Emetropía</strong></label>
							{% else %}
							<label><input type="checkbox" id="emetropia" name="emetropia" value="1" checked
									disabled><strong> Emetropía</strong></label>
							{% endif %}
						</td>
						<td colspan="3">
							{% if dataconsulta[0][20] == 0 %}
							<label><input type="checkbox" id="antimetropia" name="antimetropia" value="1"
									disabled><strong> Antimetropía</strong></label>
							{% else %}
							<label><input type="checkbox" id="antimetropia" name="antimetropia" value="1" checked
									disabled><strong> Antimetropía</strong></label>
							{% endif %}

						</td>
					</tr>
					<tr class="fondoblanco">
						<td colspan="2">
							{% if dataconsulta[0][21] == 0 %}
							<label><input type="checkbox" id="anisometropia" name="anisometropia" value="1"
									disabled><strong> Anisometropia</strong></label>
							{% else %}
							<label><input type="checkbox" id="anisometropia" name="anisometropia" value="1" checked
									disabled><strong> Anisometropia</strong></label>
							{% endif %}
						</td>
						<td colspan="3">
							{% if dataconsulta[0][22] == '0' %}
							<label><input type="checkbox" id="patologiaocular" name="patologiaocular" value="1"
									disabled><strong> Patología Ocular</strong></label><br>
							<input type="text" class="form-control" id="patologiaoculartext" name="patologiaoculartext"
								disabled>
							{% else %}
							<label><input type="checkbox" id="patologiaocular" name="patologiaocular" value="1" checked
									disabled><strong> Patología Ocular</strong></label><br>
							<input type="text" class="form-control" id="patologiaoculartext" name="patologiaoculartext"
								value="{{dataconsulta[0][22]}}" disabled>
							{% endif %}
						</td>
					</tr>
					<tr class="fondoblanco">
						<th rowspan="2"><label for="tratamiento">Tratamiento:</label></th>
						<td colspan="2">
							{% if dataconsulta[0][23] == 0 %}
							<label><input type="checkbox" id="lentesoftalmicos" name="lentesoftalmicos" value="1"
									disabled><strong> Lentes Oftálmicos</strong></label>
							{% else %}
							<label><input type="checkbox" id="lentesoftalmicos" name="lentesoftalmicos" value="1"
									checked disabled><strong> Lentes Oftálmicos</strong></label>
							{% endif %}

						</td>
						<td colspan="3">
							{% if dataconsulta[0][24] == 0 %}
							<label><input type="checkbox" id="lentescontacto" name="lentescontacto" value="1"
									disabled><strong> Lentes de Contacto</strong></label>
							{% else %}
							<label><input type="checkbox" id="lentescontacto" name="lentescontacto" value="1" checked
									disabled><strong> Lentes de Contacto</strong></label>
							{% endif %}

						</td>
					</tr>
					<tr class="fondoblanco">
						<td colspan="2">
							{% if dataconsulta[0][25] == 0 %}
							<label><input type="checkbox" id="refoftalmologica" name="refoftalmologica" value="1"
									disabled><strong> Referencia Oftalmológica</strong></label>
							{% else %}
							<label><input type="checkbox" id="refoftalmologica" name="refoftalmologica" value="1"
									checked disabled><strong> Referencia Oftalmológica</strong></label>
							{% endif %}

						</td>
						<td colspan="3">
							{% if dataconsulta[0][26] == 0 %}
							<label><input type="checkbox" id="farmaco" name="farmaco" value="1" disabled><strong>
									Fármaco</strong></label>
							{% else %}
							<label><input type="checkbox" id="farmaco" name="farmaco" value="1" checked
									disabled><strong> Fármaco</strong></label>
							{% endif %}

						</td>
					</tr>
				</table>
				<br>
				<h6>Datos Gotero</h6>
				<table id="tablegotas" style="display: block;">
					<tr>
						<td><input type="text" class="form-control" id="gmed1" name="gmed1" value="{{gotas[0]}}"
							disabled></td>
						</tr>
						<tr>
						<td colspan="2">
							<textarea id="gdesc1" name="gdesc1" rows="2" cols="65" style="font-size: 25px;" class="form-control"
								disabled>{{gotas[1]}}</textarea>
							</td>
						</tr>
					</table>
					<br>
					<table id="tablegotas1" style="display: block;">
						<tr>
							<td><input type="text" class="form-control" id="gmed2" name="gmed2" value="{{gotas[2]}}"
								disabled></td>
							</tr>
							<tr>
						<td colspan="2">
							<textarea id="gdesc2" name="gdesc2" rows="2" cols="65" style="font-size: 25px;" class="form-control"
							disabled>{{gotas[3]}}</textarea>
						</td>
					</tr>
				</table>
				<div id="referencia" style="display: block;">
					<h6>Referencia Oftálmica</h6>
					<table>
						<tr>
							<td>Lugar a referir: <input type="text" class="form-control" id="lugarref"
								name="lugarref" value="{{referencia[0]}}" disabled></td>
							</tr>
							<tr>
								<td colspan="2">
									<textarea id="descref" name="descref" rows="2" cols="65" style="font-size: 25px;" class="form-control"
									disabled>{{referencia[1]}}</textarea>
								</td>
							</tr>
						</table>
					</div>
					<br>
					<table>
						<tr>
							<th>Medicamento Dado</th>
							<td style="width: 80%;">
								<select name="idmedicamento" id="idmedicamento" class="form-control" disabled>
									<option value="0" selected>Sin Medicamento</option>
									{% for i in medicamentos %}
									{% if (dataconsulta[0][34] | int == i[0] | int) and dataconsulta[0][34] | int > 0 %}
									<option value="{{i[0]}}" selected>{{i[1]}} - {{i[2]}}</option>
									{% else %}
									<option value="{{i[0]}}">{{i[1]}} - {{i[2]}}</option>
									{% endif %}
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<th>Anotaciones</th>
							<td style="width: 80%;">
								<textarea id="notas" name="notas" rows="2" cols="65" style="font-size: 25px;"
									disabled>{{dataconsulta[0][27]}}</textarea>
							</td>
						</tr>
					</table>
					{% if logeadokevin == 1 %}
					<h3>Comentario de Supervisión</h3>
				{% if dataconsulta[0][32] == 1 or dataconsulta[0][32] == '1' %}
				<textarea id="comentariokevin" name="comentariokevin" rows="2" cols="80" class="form-control" placeholder="Comentario de Supervisión" disabled>{{dataconsulta[0][33]}}</textarea>
				{% else %}
				<form action="" method="POST">
					<textarea id="comentariokevin" name="comentariokevin" rows="2" cols="80" class="form-control" placeholder="Comentario de Supervisión"></textarea>
					<center><button type="submit" class="btn btn-primary">Aceptar</button></center>
				</form>
				{% endif %}
				{% endif %}
			</div>
		</div>
	</form>
</div>
{% endblock %}